@font-face {
    font-family: Hanken Grotesk;
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Hanken Grotesk;
    src: url(../assets/fonts/static/HankenGrotesk-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Hanken Grotesk;
    src: url(../assets/fonts/static/HankenGrotesk-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Hanken Grotesk;
    src: url(../assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
    font-weight: 800;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
    
    /*
    CSS Reset ends
  */

  * {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: normal;
  }

  body {
    display: flex;
    justify-content: center;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 25rem;
  }

  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.875rem;
    text-align: center;
    color: hsl(0, 0%, 100%);
    border-radius: 0px 0px 35px 35px;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  }

  .result>.p1 {
    font-size: 1.125rem;
    font-weight: 500;
    color: hsla(221, 100%, 96%, 0.8);
  }

  .result>div {
    display: grid;
    place-content: center;
    width: 135px;
    height: 135px;
    margin: 1.56rem 0;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  }

  .result>div>h1 {
    display: flex;
    flex-direction: column;
  }

  .result>div>h1>span {
    font-size: 1rem;
    font-weight: 500;
  }

  .result>div>h1>span:first-child {
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 1.2;
  }

  .result>div>h1>span:last-child {
    color: hsla(221, 100%, 96%, 0.5);
  }

  .result>.p2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0.3125rem;
  }

  .result>p:last-child {
    font-size: 15px;
    color: hsla(221, 100%, 96%, 0.7);
    max-width: 15.6rem;
    
  }

  .summary {
    display: flex;
    flex-direction: column;
    padding: 1.875rem;
    gap: 1.5625rem;
  }

  .summary>* {
    font-weight: 700;
  }

  .summary>h2 {
    font-size: 1.125rem;
    font-weight: 800;
  }

  li {
    font-weight: 700;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .list-container {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
  }

  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.9375rem;
    border-radius: 10px;
  }

  .list>li {
    display: flex;
    gap: 0.625rem;
  }

  .list>p {
    font-weight: 800;
    color: hsl(224, 30%, 27%);
  }

  .over {
    font-weight: 800;
    color: hsla(224, 30%, 27%, 0.5);
  }

  .listitem1 {
    background-color: hsla(0, 100%, 67%, 0.1);
  }

  .listitem1>li {
    color: hsl(0, 100%, 67%);
  }

  .listitem2 {
    background-color: hsla(39, 100%, 56%, 0.1);
  }

  .listitem2>li {
    color: hsl(39, 100%, 56%);
  }

  .listitem3 {
    background-color: hsla(166, 100%, 37%, 0.1);
  }

  .listitem3>li {
    color: hsl(166, 100%, 37%);
  }

  .listitem4 {
    background-color: hsla(234, 85%, 45%, 0.1);
  }

  .listitem4>li {
    color: hsl(234, 85%, 45%);
  }

  .summary>a {
    width: 100%;
    align-self: center;
    padding: 0.625rem;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 30%, 27%);
  }

  .summary>a:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  }

  @media screen and (min-width: 700px) {
    
    body {
        align-items: center;
    }

    main {
        flex-direction: row;
        max-width: 40.625rem;
        overflow: hidden;
        border-radius: 35px;
        box-shadow: 
            15px 15px 40px 0px rgba(36,33,202,0.14);
            -webkit-box-shadow: 15px 15px 40px 0px rgba(36,33,202,0.14);
            -moz-box-shadow: 15px 15px 40px 0px rgba(36,33,202,0.14);
    }

    .result, .summary {
        width: 50%;
    }

    .result {
        border-radius: 0px 35px 35px 0px;
    }

    .result>.p1 {
        font-size: 1.25rem;
    }

    .result>div {
        width: 160px;
        height: 160px;
        margin: 1.5625rem 0;
    }

    .result>div>h1>span:first-child {
        font-size: 4rem;
    }

    .result>p:last-child {
        font-size: 1.0625rem;
    }

    .summary>h2 {
        font-size: 1.25rem;
    }
  }